#preturi{
    min-height: 100vh;
    font-family: Inter-light;
    background-image: url('../assets/images/background1.png');
    background-size: contain;
    background-position: 140% 100%;
    background-repeat: no-repeat;
    margin-top: 150px;
}


#preturi .header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preturi .header .subtitle{
    font-family: Knives-light;
    font-size: 2rem;
    color: #B30031;
}

#preturi .header h1{
    font-size: 1.4rem;
    font-family: Inter-black;
    letter-spacing: 3px;
}
#preturi .header .subheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#preturi .header .line{
    height: 3px ;
    width: 100px;
    background-image: url('../assets/images/line.png');
}

#preturi div.prices{
    padding: 50px 40px;
    display: flex;
    min-height: 90vh;
    flex-wrap: wrap;

}

#preturi div.prices.pachete{
    flex-direction: column;
}

#preturi div.prices.pachete h1{
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: Inter-Black;
    font-size: 1.9rem;

}

#preturi div.prices.pachete .prices{
    padding: 0;
}

#preturi div.prices span{
    font-weight: 700;
    font-family: Inter-med;

}
#preturi div.prices.pachete span{
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    font-family: Inter-med;
    text-align: center;
}

#preturi .prices .service{
    background-color: #fff;
    margin: 10px 20px;
    min-width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .4);
}

#preturi .prices .service .title{
    font-size: 1.2rem;
    font-family: Inter-med;
    color: #B30031;
    /* margin-bottom: 17px; */
    align-self: center;
}

#preturi .prices .service ul li{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#preturi .prices .service ul{
    margin-top: 17px;
}
#preturi .prices .service ul li strong{
    max-width: 60%;
    text-transform: capitalize;
}

#preturi .prices h1{
    color: #B30031;

}



/* Extra Small Devices (Mobile Phones) */
@media only screen and (max-width: 480px) {
    /* Styles for mobile phones */
    #preturi .prices .service {
        width: 100%;
        min-width: 0;
        margin: 20px 0;
    }
  }
  
  /* Small Devices (Large Phones) */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    /* Styles for large phones */
    #preturi div.prices{
        padding: 30px;
    }
    #preturi .prices .service {
        flex: 0 0 100%;
        min-width: 0;
        margin: 20px 0;
    }
  }
  
  /* Medium Devices (Tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    #preturi .prices .service {
        min-width: 0;
        flex: 0 0 44%;
    }
  }
  
  /* Large Devices (Laptops, Small Desktops) */
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for laptops and small desktops */
  }
  
  /* Extra Large Devices (Large Desktops) */
  @media only screen and (min-width: 1441px) {
    /* Styles for large desktops */
  }
  