#program{
    /* background-color: red; */
    margin-top: 150px;
    min-height: 50vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}


.programari {
    margin-top: 150px;
}