#program{
    /* background-color: red; */
    margin-top: 150px;
    min-height: 50vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}


.programari {
    margin-top: 150px;
}

.programari  input, .programari  select{
    padding: 15px;
    margin: 0 10px;
    border: 2px solid #09131b;
    outline: none;

}

.programari  select{
    margin: 0;
}

.programari  button{
    background-color: rgb(255, 191, 72);
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-family: Inter-med;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
}