.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 120px;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    /* overflow: hidden; */
    position: absolute;
    background-color: rgb(255, 253, 253);
    padding: 10px;
    transform: translate(0%,-50%);
    border-radius: 20px;
}

.slider-list {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-item {
    flex: 0 0 auto;
    width: 100px; 
    box-sizing: border-box;
    text-align: center;
    background: #fff; /* Adjust as needed */
    opacity: .5;
    margin-right: 10px; /* Space between items */
    padding: 0px 20px;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
}

.slider-item .date-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-item.active {
    border: 2px solid #000; /* Example border style */
    border-radius: 20px;
}

/* .slider-container:dra .slider-list {
    transform: translateX(-50%);
} */
#slider .slider-container .slider ul li {
    pointer-events: none;
}

#slider .slider-container .slider ul li div span.span{
    align-self: center;
    color: #000;
}
#slider .slider-container .slider ul li.slider-item.highlighted{
    cursor: pointer;
    pointer-events: all;
}

#slider .slider-container .slider ul li div span.span.day-name{
    font-family: Inter-light;
}

#slider .buttons{
    z-index: 20;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#slider .buttons button{
    background-image: url('../assets/images//icons/arrow_back.png');
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border: 1px solid #000;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .3);
}

#slider .buttons button.next{
    transform: rotate(180deg);
}

#slider .slider-item.highlighted {
    background-color: #f0f0f0;
    color: white; /* Optional: Change text color for better contrast */
    opacity: 1;

}


.hours-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.hours-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hour-item {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.hour-item:hover {
    background-color: #ddd;
}

button.rezervare{
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 10px;
    color: #000;
    font-weight: 600;
    background-color: rgb(255, 191, 72);
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

#slider form{
    display: none;
    padding: 30px;
    border-radius: 10px;
    align-self: center;
}

#slider form input, #slider form textarea{
    padding: 10px;
}
#slider form p{
    font-size: 1.1rem;
    font-family: Inter-med;
}

#slider form.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E272E;
    width: 300px;
    color: #f0f0f0;
    margin-top: 20px;
}

#slider form.visible div{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#slider form input.send{
    margin-top: 20px;
    padding: 10px 20px;
    color: #000;
    font-family: Inter-med;
    font-size: 1rem;
    border: 2px solid rgb(255, 191, 72);
    border-radius: 5px;
    cursor: pointer;
}

#slider form input.send:hover{
    background-color: rgb(255, 191, 72);
}

.hour-item {
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent; 
    border-radius: 4px;
    margin: 5px;
}

.hour-item:hover {
    border-color: #ddd;
}

.active-hour {
    border-color: #000; 
    background-color: #f0f0f0; 
}






#slider.sldier2{
    background-color: red;
}